# App
APP_NAME=sso
APP_VERSION=26.1
# Logger
LOG_LEVEL=debug
# Tokens
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=24h
SECRET_SEED=hex_secret_seed
TOKEN_ISSUER=sso.example.com
# OTP
OTP_CODE_LENGTH=6
OTP_MAX_ATTEMPTS=3
OTP_CODE_TTL=5m
OTP_BLOCK=10m
# gRPC
GRPC_PORT=8081